.promo__wrapper {
  text-align: center;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 60px;
}

.promo__wrapper--image {
  background: @bg-white url("../img/hero-mobile@1x.jpg") no-repeat 50% 50%;
  min-height: 283px;
}

.groups__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.group__item a {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  font-size: 15px;
  line-height: 15px;
  .h-font-set();
  color: white; /* переопределение цвета */
  text-decoration: none;
  background-color: #63d1bb;
}

.group__item--dark a {
  background-color: #56c3b2;
}

.promo__title {
  margin: 0;
}
