.review {
  padding-bottom: 50px;
}

.review__title {
  margin-bottom: 30px;
  font-size: 25px;
  line-height: 30px;
  .h-font-set()
}

.review__text {
  margin: 0;
  margin-bottom: 30px;
  line-height: 30px;
  text-transform: none;
}

cite {
  font-style: normal;
}

.review__author-name {
  font-size: 18px;
  line-height: 24px;
  .h-font-set()
}

.review-author__social {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  text-decoration: none;
}

.review__prev {
  width: 50%;
}

.review__next {
  width: 50%;
}
