.item-product {
  .container();
  padding-bottom: 25px;
  margin-bottom: 10px;
  outline: 1px solid green; /* служебный */
  .clearfix();
}

.item-product__title {
  position: relative;
  margin-top: 30px;
  margin-bottom: 35px;
  font-size: 25px;
  line-height: 30px;
  .h-font-set();
}

.item-product--weekly .item-product__title::after {
  content: "Товар недели";
  position: absolute;
  top: 34px;
  left: 0;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: @surf-green;
  text-transform: uppercase;
}

.item-product__table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

.item-product__table td {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ececec;
}

.item-product__photo {
  margin-bottom: 20px;
}

.item-product__price {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
}

@media @tablet-widths {

  .item-product--weekly .item-product__title::after {
    top: 10px;
    left: 470px;
    text-align: center;
  }

  .item-product__title,
  .item-product__info,
  .item-product__table,
  .item-product__price,
  .item-product .btn {
    float: left;
    width: 280px;
  }

  .item-product {
    position: relative;
  }

  .item-product__photo {
    position: absolute;
    top: 100px;
    right: 50px;
  }

}

@media @desktop-widths {

  .item-product--weekly .item-product__title::after {
    top: 10px;
    left: -58px;
    text-align: center;
  }

  .item-product__photo {
    top: 0;
    right: 50px;
  }

  .item-product__title,
  .item-product__info,
  .item-product__table,
  .item-product__price,
  .item-product .btn {
    float: none;
    margin-left: 140px;
  }

  .item-product--weekly .item-product__title::after {
    top: 10px;
    left: -170px;
    text-align: center;
  }

}
