.page-header {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #e7e7e7;
}

.page-header__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

.page-header__logo {
  width: 88px;
  padding-top: 21px;
  padding-bottom: 16px;
  margin: 0 auto;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

.page-header__promo-text {
  display: none;
}

@media @tablet-widths {

  .page-header {
    border-bottom: 1px solid #e7e7e7;
  }

  .page-header__wrapper {
    height: 88px;
    .container();
  }

  .page-header__logo {
    position: absolute;
  }

  .page-header__promo-text {
    display: block;
    float: right;
    margin-top: -26px;
  }
}

@media @desktop-widths {

  .page-header__logo {
    position: absolute;
    left: 50%;
    margin-left: -44px;
  }
}
