.about-us {
  margin-top: 35px;
  padding-right: 30px;
  padding-left: 30px;
}

.about-us__title {
  margin-bottom: 30px;
  font-size: 25px;
  line-height: 30px;
  .h-font-set();
}

.about-us__list {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  list-style: none;
}

.about__item {
  display: block;
  padding-top: 60px;
  font-size: 17px;
  line-height: 30px;
  .h-font-set();
}
