.contacts {
  .container();
  min-height: 457px;
}

.contacts__title {
  display: block;
  width: 100%;
  font-size: 25px;
  line-height: 30px;
  .h-font-set()
}

.contact__email {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  color: @body-color;
}

.contact__email::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  top: 25px;
  left: 0;
  border: 1px solid #62d1ba;
}

.email__contact,
.tel__contact {
  .list-reset();
}

.contact__item {
  display: inline-block;
  vertical-align: top;
}

@media @tablet-widths {

  .email__contact,
  .tel__contact {
    display: inline-block;
    vertical-align: top;
    width: 265px;
  }

  .contacts .btn {
    width: 230px;
    margin: 0 auto;
    margin-top: 20px;
  }

}

@media @desktop-widths {

  .contacts__wrapper {
    padding-left: 130px;
  }

}
